@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #f8fafc, #ffffff);
  color: #111827;
}

::selection {
  background-color: rgb(0 0 0 / 0.08);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
